{% extends 'base.html' %}
{% load static bootstrap5 %}
{% block title %}Lista de Pesagem{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 class="text-center bg-success font-weight-bold text-light">Lista de Pesagem</h1>
        <ul>
            <table class="table table-secondary table-striped align-baseline">
                <thead>
                    <tr>
                        <th scope="col">Animal</th>
                        <th scope="col">Data de Pesagem</th>
                        <th scope="col">Peso</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pesagem in object_list %}
                        <tr>
                            <td>{{ pesagem.animal.identificacao }}</td>
                            <td>{{ pesagem.data_pesagem }}</td>
                            <td>{{ pesagem.peso }}</td>
                            <td>
                                <a class="btn btn-warning" href="{% url 'pesagem-update' pesagem.pk %}" role="button">Editar</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="{% url 'pesagem-delete' pesagem.pk %}" role="button">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </ul>
        {% bootstrap_pagination page_obj %}
        <a class="btn btn-success" href="{% url 'pesagem-create' %}" role="button">Nova Pesagem</a>
    </div>
{% endblock %}
