{% extends 'base.html' %}
{% load static bootstrap5 %}
{% block title %}Movimentação de Animal{% endblock %}

{% block content %}
    <h1 class="text-center bg-success font-weight-bold text-light mb-5">Movimentação de Animal</h1>
    <div class="container-fluid">
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}

            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>

    <a class="btn btn-primary mt-5" href="{% url 'movimentacaoanimal-list' %}">Voltar para a Lista de Movimentações</a>
{% endblock %}
