<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Seu Título Aqui{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar bg-body-tertiary ">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#">
            <img src="{% static 'img/cubo.png'%}" alt="Logo" width="200" class="d-inline-block align-text-center mx-4 p-2">
            Fazenda Itapirema
          </a>
            {% if user.is_authenticated %}
                <p>Bem-vindo, {{ user.username }} ({{ user.email }})</p>
                <a href="{% url 'profile' %}">Perfil</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                
            {% endif %}
        </div>
    </nav>

    <nav class="navbar bg-body-tertiary ">
        <div class="container-fluid ">
          
          <ul class="nav my-5">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'animal-list' %}">
                        Cadastrar Animal
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movimentacaoanimal-list' %}">
                        Movimentação
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'saudemedicamento-list' %}">
                        Saude e Medicação
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reproducao-list' %}">
                        Reprodução
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pesagem-list' %}">
                        Pesagem
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'genealogia-list' %}">
                        Genealogia
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'custo-list' %}">
                        Custos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'condicaoambiental-list' %}">
                        Condições Ambientais
                    </a>
                </li>      
            </ul>
        </div>
      </nav>

    <div class="container-fluid">
        <main>
            <div class="container-fluid">
                {% block content %}
                
                {% endblock %}
            </div>
        </main>
    </div>

<div class="conatiner-fluid bg-body-tertiary">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="{% url 'animal-list' %}" class="nav-link px-2 text-body-secondary">Cadastro de Animal</a></li>
          <li class="nav-item"><a href="{% url 'movimentacaoanimal-list' %}" class="nav-link px-2 text-body-secondary">Movimentação</a></li>
          <li class="nav-item"><a href="{% url 'saudemedicamento-list' %}" class="nav-link px-2 text-body-secondary">Saúde e Medicação</a></li>
          <li class="nav-item"><a href="{% url 'reproducao-list' %}" class="nav-link px-2 text-body-secondary">Reprodução</a></li>
          <li class="nav-item"><a href="{% url 'pesagem-list' %}" class="nav-link px-2 text-body-secondary">Pesagem</a></li>
          <li class="nav-item"><a href="{% url 'genealogia-list' %}" class="nav-link px-2 text-body-secondary">Genealogia</a></li>
          <li class="nav-item"><a href="{% url 'custo-list' %}" class="nav-link px-2 text-body-secondary">Custos</a></li>
          <li class="nav-item"><a href="{% url 'condicaoambiental-list' %}" class="nav-link px-2 text-body-secondary">Condições Ambientais</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2024 Somos todos Nerds</p>
      </footer>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>